PUBLIC_ENVIRONMENT=env
OAUTH2_AUTH_URL=/oauth2/auth
LOCAL_BEAM_SECRET_SPOT=spot_pwd
LOCAL_BEAM_ID=cce-site-name
BROKER_HOST=cce-broker
SITES=cce-abc,cce-def
GUI_HOST=localhost:1234
PUBLIC_SPOT_URL=http://localhost:8055
PUBLIC_PROJECT_MANAGER_NEW_URL=
PUBLIC_PROJECT_MANAGER_EDIT_URL=
